@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');

$main-color: #022257;
$second-color: #75CFED;
$third-color: #8DABCC;
$forth-color: #89AEEA;
$fifth-color: #0E6FC8;
$gray-bd: #bdbdbd;
$yellow: #FFB72B;
$transition: 0.3s;


body {
    font-family: 'Exo', 'Noto Sans TC', sans-serif;
    color: #000;
    background-color: #FCFCFC;
}

a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
    &:hover {
        text-decoration: none;
        color: #000;
    }
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

input, button, textarea {
    outline: none;
    border: 0;
    background-color: transparent;
    font-family: 'Exo', 'Noto Sans TC', sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.container {
    padding-left: 20px;
    padding-right: 20px;
}

.mb-footer {
    margin-bottom: 100px;
}

.header {
    width: 100%;
    position: fixed;
    height: 70px;
    background-color: $main-color;
    top: 0;
    left: 0;
    z-index: 20;
    &_inner {
        position: relative;
        width: 100%;
        height: 100%;
        >.container {
            height: 100%;
        }
    }
    &_nav {
        position: absolute;
        height: 70px;
        width: 100%;
        top: 0;
        left: 0;
        &_first {
            height: 100%;
            >li {
                margin: 0 20px;
                height: 100%;
                >a {
                    color: #fff !important;
                    font-size: 18px;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    position: relative;
                    &::after {
                        position: absolute;
                        content: "";
                        width: 55px;
                        // height: 8px;
                        height: 0;
                        background-image: url(../img/nav_active.svg);
                        background-size: contain;
                        background-position: center;
                        background-repeat: no-repeat;
                        left: 50%;
                        bottom: -1px;
                        transform: translateX(-50%);
                        transition: $transition;
                    }
                    &:hover {
                        &::after {
                            height: 8px;
                        }
                    }
                    &.active {
                        color: $second-color !important;
                        &::after {
                            height: 8px;
                        }
                    }
                }
            }
        }
        &_second {
            position: fixed;
            width: 100%;
            top: 70px;
            left: 0;
            background-color: $main-color;
            border-top: 1px solid $second-color;
            padding: 60px 0;
            opacity: 0;
            visibility: hidden;
            transition: $transition;
            &::after {
                position: absolute;
                content: "";
                width: 100%;
                padding-bottom: 2.78%;
                background-image: url(../img/nav_drop.svg);
                background-size: contain;
                background-repeat: no-repeat;
                left: 0;
                top: 100%;
            }
        }
        &_third {
            border-right: 1px solid $third-color;
            >li {
                margin-bottom: 15px;
                &:last-child {
                    margin-bottom: 0;
                }
                >a {
                    font-size: 22px;
                    font-weight: 600;
                    color: #fff !important;
                    position: relative;
                    padding-left: 20px;
                    &::before {
                        width: 8px;
                        height: 8px;
                        position: absolute;
                        content: "";
                        background-image: url(../img/nav_active_second.svg);
                        background-size: contain;
                        background-position: center;
                        background-repeat: no-repeat;
                        top: 50%;
                        left: 0;
                        transform: translateY(-50%);
                        opacity: 0;
                        transition: $transition;
                    }
                    &.active, &:hover {
                        color: $second-color !important;
                        &::before {
                            opacity: 1;
                        }
                    }
                }
            }
        }
        &_forth {
            padding-left: 50px;
            display: none;
            &.active {
                display: flex;
            }
            >li {
                margin-bottom: 15px;
                >a {
                    // font-size: 14px;
                    color: rgba(255,255,255,0.65);
                    transition: $transition;
                    &:hover {
                        color: $second-color;
                    }
                }
            }
        }
        &_space {
            width: 200px;
        }
        &_lang {
            position: absolute;
            padding: 0 20px;
            bottom: 30px;
            left: 0;
            svg {
                width: 20px;
                height: 20px;
                margin-right: 5px;
                path, rect {
                    fill: #fff;
                }
            }
            ul {
                a {
                    display: block;
                    padding: 0 10px;
                    position: relative;
                    color: $third-color;
                    font-size: 17px;
                    &::after {
                        position: absolute;
                        content: "";
                        width: 1px;
                        height: 10px;
                        background-color: $third-color;
                        top: 50%;
                        right: 0;
                        transform: translateY(-50%);
                    }
                    &.active {
                        color: #fff;
                        font-weight: 600;
                    }
                }
                li {
                    &:last-child {
                        a {
                            &::after {
                                display: none;
                            }
                        }
                    }

                }
            }
        }
    }
    &_logo {
        width: 229px;
        height: 130px;
        position: absolute;
        background-size: contain;
        background-image: url(../img/logo_wrap.svg);
        background-position: center;
        background-repeat: no-repeat;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        >img {
            width: 82%;
            transform: translateY(-30%);
        }
    }
    &_icon {
        height: 100%;
    }
    &_lang {
        position: relative;
        padding-right: 15px;
        svg {
            width: 18px;
            height: 18px;
            margin-right: 5px;
            rect {
                transition: $transition;
            }
        }
        span {
            color: $forth-color;
            font-weight: 500;
            transform: translateY(2px);
            transition: $transition;
        }
        &_active {
            cursor: pointer;
        }
        &_list {
            position: absolute;
            background-color: #fff;
            padding: 12px 16px;
            top: calc(100% + 5px);
            right: 0;
            display: none;
            a {
                white-space: nowrap;
                display: block;
                padding: 5px 0;
                transition: $transition;
                &:hover, &.active {
                    color: $second-color;
                    font-weight: 600;
                }
            }
        }
        &::after {
            position: absolute;
            content: "";
            width: 1px;
            height: 13px;
            background-color: $forth-color;
            top: 50%;
            right: 0;
            transform: translateY(calc(-50% + 2px));
        }
    }
    &_search {
        padding-left: 15px;
        position: relative;
        &_active {
            cursor: pointer;
            svg {
                width: 18px;
                height: 18px;
                path, rect {
                    transition: $transition;
                }
            }
            &.active, &:hover {
                svg {
                    path, rect {
                        fill: $second-color;
                    }
                }
            }
        }
        &_form {
            position: absolute;
            right: 0;
            top: calc(100% + 5px);
            height: 43px;
            background-color: #fff;
            width: 300px;
            display: none;
            form {
                height: 100%;
            }
            input {
                width: calc(100% - 43px);
                padding: 0 10px;
                height: 100%;
                &::placeholder {
                    color: $gray-bd;
                }
            }
            button {
                width: 43px;
                background-color: $second-color;
                padding: 0;
                height: 100%;
                transition: $transition;
                svg {
                    width: 20px;
                    height: 20px;
                    rect, path {
                        fill: #fff;
                    }
                }
                &:hover {
                    background-color: $forth-color;
                }
            }
        }
    }
    &_menu {
        width: 25px;
        height: 18px;
        position: relative;
        padding-bottom: 2.5px;
        margin-left: 20px;
        .bar {
            width: 100%;
            height: 2px;
            background-color: $second-color;
            position: absolute;
            left: 0;
            transition: $transition;
            &.top {
                top: 0;
            }
            &.middle {
                top: calc(50% - 1px);
            }
            &.bottom {
                top: calc(100% - 2px);
            }
        }
        &.active {
            .bar {
                top: 50%;
                left: 50%;
                &.top, &.middle {
                    transform: translate(-50%, -50%) rotate(45deg);
                }
                &.bottom {
                    transform: translate(-50%, -50%) rotate(-45deg);
                }
            }
        }
    }
    &_inquiry {
        width: 90px;
        background-color: #fff;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
        display: flex;
        height: 100%;
        margin-left: 35px;
        transition: $transition;
        z-index: 1;
        svg {
            width: 30px;
            height: 30px;
            margin-bottom: 3px;
            path {
                transition: $transition;
            }
        }
        span {
            color: $fifth-color;
            font-size: 12px;
            display: block;
            width: 100%;
            text-align: center;
            transition: $transition;
        }
        &:hover {
            background-color: $second-color;
            svg {
                path {
                    fill: #fff;
                }
            }
            span {
                color: #fff;
            }
        }
        &_add {
            position: absolute;
            top: calc(100% + 5px);
            right: 15px;
            padding: 15px 20px;
            z-index: 10;
            white-space: nowrap;
            display: none;
            background-color: $second-color;
            color: #fff;
        }
    }
    @media screen and (min-width: 992px) {
        &_nav {
            &_first {
                >li {
                    &:hover {
                        .header_nav_second {
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
            }
        }
    }
    @media screen and (max-width: 1100px) {
        &_nav {
            &_first {
                >li {
                    margin: 0 15px;
                }
            }
            &_space {
                width: 160px;
            }
        }
        &_logo {
            width: 200px;
            height: 113px;
            background-position: center top;
        }
        &_inquiry {
            margin-left: 15px;
        }
    }
    @media screen and (max-width: 991px) {
        &_nav {
            position: fixed;
            width: 100%;
            height: calc(100vh - 55px);
            top: 55px;
            left: -100%;
            background-color: $main-color;
            padding: 60px 0;
            transition: 0.8s ease-in-out;
            &.active {
                left: 0;
            }
            &_first {
                height: auto;
                >li {
                    margin: 0;
                    >a {
                        padding: 8px 20px;
                        &::after {
                            display: none;
                        }
                    }
                    &.drop {
                        >a {
                            &::after {
                                width: 10px;
                                height: 15px;
                                background-image: url(../img/arrow-lightblue-right.svg);
                                top: 50%;
                                bottom: inherit;
                                right: 20px;
                                left: inherit;
                                transform: translateY(-50%);
                                display: block;
                            }
                            &.active {
                                &::after {
                                    transform: rotate(90deg);
                                }
                            }
                        }
                    }
                }
            }
            &_second {
                position: static;
                border: 0;
                padding: 0;
                opacity: 1;
                visibility: visible;
                display: none;
                transition: none;
                >.container {
                    max-width: inherit;
                }
            }
            &_third {
                border: 0;
                >li {
                    margin: 0;
                    >a {
                        padding: 6px 25px;
                        font-size: 16px;
                        color: $third-color !important;
                        font-weight: normal;
                        display: block;
                        &.active {
                            color: $third-color !important;
                            &::before {
                                display: none;
                            }
                        }
                    }
                }
            }
            &_forth {
                display: none;
            }
        }
        &_search {
            padding: 0 10px;
            svg {
                path, rect {
                    fill: $second-color;
                }
            }
            &_form {
                position: fixed;
                width: 100%;
                top: 55px;
            }
        }
        &_inquiry {
            width: auto;
            background-color: transparent;
            margin-right: 10px;
            margin-left: 0;
            padding: 0 10px;
            svg {
                width: 25px;
                height: 25px;
                margin: 0;
                path {
                    fill: $second-color
                }
            }
            span {
                display: none;
            }
        }
    }
    @media screen and (max-width: 575px) {
        height: 55px;
        &_logo {
            width: 150px;
            height: 85px;
        }
    }
    @media screen and (max-width: 350px) {
        &_inquiry {
            margin-right: 0px;
        }
        &_menu {
            margin-left: 15px;
        }
    }
}

.main {
    padding-top: 70px;
    @media screen and (max-width: 991px) {
        padding-top: 55px;
    }
}

.footer {
    background-color: $main-color;
    padding: 100px 0 80px;
    background-image: url(../img/footer_style.svg);
    background-size: 100%;
    background-position: 0 0;
    background-repeat: no-repeat;
    position: relative;
    &_style {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    &_nav {
        margin-bottom: 40px;
        &_title {
            font-size: 20px;
            color: #fff;
            margin-bottom: 20px;
            display: block;
            transition: $transition;
            &:hover {
                color: #C6E1FF;
            }
        }
        &_subtitle {
            font-size: 14px;
            font-weight: 500;
            color: $main-color;
            padding: 5px 10px;
            background-color: $third-color;
            width: fit-content;
            margin-bottom: 15px;
        }
        &_list {
            a {
                display: block;
                font-size: 14px;
                color: #C6E1FF;
                font-weight: 300;
                margin-bottom: 10px;
                &:hover {
                    color: $second-color;
                }
            }
        }
        &_product {
            width: 70%;
            &_item {
                position: relative;
                padding-right: 50px;
                z-index: 0;
                &::before {
                    position: absolute;
                    content: "";
                    width: calc(100% - 50px);
                    height: 1px;
                    background: linear-gradient(90deg, #8DABCC 0%, rgba(141, 171, 204, 0.00) 100%);
                    top: 14px;
                    left: 0;
                    z-index: -1;
                }
            }
        }
        &_other, &_media {
            width: 15%;
        }
        &_equip {
            width: 60%;
        }
        &_abrasives, &_spare {
            width: 20%;
        }
        &_item {
            margin-right: 80px;
            &.drop {
                .footer_nav_title {
                    position: relative;
                    z-index: 0;
                    span {
                        background-color: $main-color;
                        padding-right: 15px;
                    }
                    &::before {
                        position: absolute;
                        content: "";
                        width: 100%;
                        height: 1px;
                        background-color: #58718C;
                        top: 50%;
                        left: 0;
                        transform: translateY(-50%);
                        z-index: -1;
                    }
                }
            }
            .footer_nav_list {
                a {
                    margin-right: 30px;
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
    &_certify {
        margin: 20px 0;
        img {
            width: 100px;
        }
        p {
            padding-left: 25px;
            font-size: 12px;
            margin: 0;
            color: #fff;
            line-height: 1.7;
        }
    }
    &_inform {
        margin: 20px 0;
        &_item {
            margin-bottom: 10px;
            display: flex;
            align-items: center;
        }
        img {
            width: 18px;
        }
        span, a {
            color: #fff;
            font-size: 14px;
            padding-left: 8px;
            // width: calc(100% - 18px);
            // display: block;
        }
    }
    &_design {
        display: flex;
        align-items: center;
        font-size: 12px;
        color: #fff;
        border: 1px solid $third-color;
        height: 26px;
        padding: 0 12px;
        justify-content: center;
        a {
            color: #fff;
        }
    }
    &_copyright {
        display: flex;
        align-items: center;
        font-size: 12px;
        color: $main-color;
        border: 1px solid $third-color;
        background-color: $third-color;
        height: 26px;
        padding: 0 12px;
    }
    &_social {
        a {
            display: block;
            margin-left: 15px;
            &:first-child {
                margin-left: 0;
            }
        }
        svg {
            width: 25px;
            height: 25px;
            path, rect {
                transition: $transition;
            }
            &:hover {
                path, rect {
                    fill: #fff;
                }
            }
        }
    }
    @media screen and (max-width: 1199px) {
        >.container {
            max-width: inherit;
            padding: 0 40px;
        }
        &_nav {
            &_product {
                &_item {
                    padding-right: 25px;
                }
            }
        }
    }
    @media screen and (max-width: 991px) {
        &_nav {
            &_product {
                width: 100%;
                margin-top: 40px;
            }
            &_other, &_media {
                width: auto;
                padding-right: 50px;
            }
            &_item {
                margin-right: 0;
                margin-bottom: 15px;
                width: fit-content;
            }
        }
    }
    @media screen and (max-width: 767px) {
        &_nav {
            &_equip {
                width: 100%;
                margin-bottom: 40px;
                padding-right: 0;
            }
            &_abrasives, &_spare {
                width: 50%;
            }
        }
        >.container {
            padding: 0 20px;
        }
    }
    @media screen and (max-width: 575px) {
        padding-bottom: 40px;
        &_inform {
            &_item {
                width: 100%;
            }
            span {
                width: calc(100% - 18px);
                display: block;
            }
        }
        &_social {
            width: 100%;
        }
        &_certify {
            img {
                margin-bottom: 20px;
            }
            p {
                width: 100%;
                padding: 0;
            }
        }
    }
    @media screen and (max-width: 450px) {
        &_nav {
            &_equip {
                .footer_nav_list>div {
                    width: 100%;
                }
            }   
        }
    }
}

.btn-top {
    position: fixed;
    width: 52px;
    height: 67px;
    top: 50%;
    right: 40px;
    transform: translateY(-50%);
    cursor: pointer;
    transition: $transition;
    z-index: 20;
    img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: contain;
        top: 0;
        left: 0;
        transition: $transition;
    }
    &_hover {
        opacity: 0;
    }
    @media screen and (min-width: 992px) {
        &:hover {
            transform: translateY(-50%) scale(1.2);
            .btn-top_normal {
                opacity: 0;
            }
            .btn-top_hover {
                opacity: 1;
            }
        }
    }
    @media screen and (max-width: 450px) {
        right: 20px;
        top: inherit;
        transform: none;
        bottom: 40px;
        width: 40px;
        height: 52px;
    }
}

.banner {
    position: relative;
    width: 100%;
    padding-bottom: 25%;
    margin-bottom: 45px;
    &_pic {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        top: 0;
        left: 0;
    }
    &_mask {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.36);
        top: 0;
        left: 0;
    }
    &_style {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: -1px;
    }
    &_title {
        position: absolute;
        margin: 0;
        font-size: 56px;
        color: #fff;
        font-weight: 600;
        text-shadow: 0 4px 15px rgba(0,0,0,0.25);
        left: 14%;
        top: 50%;
        transform: translateY(-50%);
    }
    @media screen and (max-width: 991px) {
        &_title {
            font-size: 48px;
        }
    }
    @media screen and (max-width: 767px) {
        padding-bottom: 35%;
        &_title {
            font-size: 42px;
            left: 10%;
        }
    }
    @media screen and (max-width: 500px) {
        padding-bottom: 60%;
        &_title {
            font-size: 36px;
            left: 20px;
        }
    }
}

.breadcrumb-common {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 45px;
    li {
        padding: 0 14px;
        position: relative;
        a {
            color: #000;
            &.active {
                color: $second-color;
                font-weight: 600;
            }
        }
        &:first-child {
            padding-left: 0;
        }
        &::after {
            position: absolute;
            content: "";
            width: 8px;
            height: 8px;
            background-image: url(../img/breadcrumb.svg);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            top: 50%;
            right: 0;
            transform: translate(50%, -50%);
        }
        &:last-child {
            &::after {
                display: none;
            }
        }
    }
}

.pagination {
    &_main {
        margin: 0 35px;
        border: 1px solid $gray-bd;
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 37px;
            height: 45px;
            transition: $transition;
            &.active, &:hover {
                background-color: $second-color;
                color: #fff;
            }
        }
    }
    &_arrow {
        display: flex;
        align-items: center;
        svg {
            width: 12px;
            height: 14px;
            path {
                transition: $transition;
            }
        }
        span {
            transition: $transition;
        }
        &:hover {
            svg {
                path {
                    fill: $second-color;
                }
            }
            span {
                color: $second-color;
            }
        }
    }
    @media screen and (max-width: 450px) {
        &_main {
            margin: 0 15px;
            a {
                width: 35px;
                height: 43px;
            }
        }
    }
    @media screen and (max-width: 370px) {
        &_arrow {
            svg {
                display: none;
            }
        }
    }
}

.tab-common {
    display: flex;
    border-top: 1px solid $gray-bd;
    border-bottom: 1px solid $gray-bd;
    width: fit-content;
    margin: 0 auto 45px;
    li {
        .nav-link {
            padding: 0 30px;
            height: 65px;
            font-weight: 500;
            position: relative;
            color: $main-color;
            font-size: 18px;
            display: flex;
            align-items: center;
            justify-content: center;
            &:hover {
                color: $second-color;
                font-weight: 600;
            }
            &.active {
                background-color: transparent;
                color: $second-color;
                font-weight: 600;
                &::after {
                    height: 8px;
                }
            }
            &::after {
                position: absolute;
                content: "";
                width: 55px;
                height: 8px;
                background-image: url(../img/tab-blue.svg);
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                top: 100%;
                left: 50%;
                transform: translateX(-50%);
                height: 0;
                transition: $transition;
            }
        }
    }
    &-active {
        border-top: 1px solid $gray-bd;
        border-bottom: 1px solid $gray-bd;
        height: 55px;
        padding: 0 20px;
        p {
            font-weight: 500;
            margin: 0;
            width: calc(100% - 15px);
        }
        img {
            width: 15px;
        }
    }
    @media screen and (max-width: 767px) {
        li {
            .nav-link {
                padding: 0 20px;
                height: 55px;
                font-size: 16px;
            }
        }
    }
}

@media screen and (max-width: 575px) {
    .tabBox {
        position: relative;
        margin-bottom: 40px;
        .tab-common {
            display: block;
            border: 0;
            background-color: $main-color;
            width: 100%;
            position: absolute;
            left: 0;
            top: 100%;
            z-index: 5;
            display: none;
            li {
                width: 100%;
                .nav-link {
                    color: #fff;
                    &::after {
                        display: none;
                    }
                    &.active {
                        color: $second-color;
                    }
                }
                
            }
        }
    }
}

.input {
    margin-bottom: 20px;
    label {
        font-size: 14px;
        margin-bottom: 5px;
    }
    input, textarea {
        width: 100%;
        background-color: #F1F1F1;
    }
    input {
        height: 45px;
        padding: 0 15px;
    }
    textarea {
        height: 100px;
        padding: 10px 15px;
    }
}

.vertify {
    label {
        font-size: 14px;
        margin-bottom: 5px;
    }
    &_input {
        height: 45px;
        padding: 0 15px;
        display: flex;
        align-items: center;
        width: 100%;
        background-color: #F1F1F1;
        input {
            width: calc(100% - 53px - 15px);
            padding: 0 15px;
        }
    }
    &_transfer {
        cursor: pointer;
        width: 15px;
    }
    &_value {
        width: 40px;
        margin-left: 13px;
    }
}

.contact-btn {
    height: 100%;
    button {
        width: calc(50% - 10px);
        font-weight: 500;
        height: 45px;
        border: 1px solid $second-color;
        transition: $transition;
        &.btn-border {
            color: $second-color;
            &:hover {
                color: $main-color;
                border-color: $main-color;
            }
        }
        &.btn-bg {
            background-color: $second-color;
            color: #fff;
            &:hover {
                background-color: $main-color;
                border-color: $main-color;
            }
        }
    }
}

.contact_send {
    h2 {
        font-size: 30px;
        margin-bottom: 20px;
        color: $main-color;
    }
    p {
        font-size: 16px;
    }
}

.detail-page {
    display: flex;
    a {
        display: block;
        width: 80px;
        transition: $transition;
        text-align: center;
        padding-bottom: 3px;
        border-bottom: 1px solid;
        position: relative;
        &::after {
            position: absolute;
            content: "";
            width: 1px;
            height: 10px;
            bottom: -3px;
            transition: $transition;
        }
        &:hover {
            border-color: $second-color;
            color: $second-color;
            &::after {
                background-color: $second-color;
            }
        }
    }
    &_prev {
        padding-left: 15px;
        &::after {
            left: 4px;
            transform: rotate(60deg);
        }
    }
    &_next {
        padding-right: 15px;
        &::after {
            right: 4px;
            transform: rotate(-60deg);
        }
    }
}

.cookies {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: $main-color;
    color: #fff;
    padding: 30px 40px;
    z-index: 200;
    transition: $transition;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    a {
        color: #fff;
        text-decoration: underline;
        font-size: 14px;
        font-weight: normal;
        transition: $transition;
        &:hover {
            opacity: 0.7;
        }
    }
    .btn-accept {
        background: transparent;
        border: 1px solid #fff;
        color: #fff;
        width: 200px;
        height: 37px;
        display: block;
        transition: $transition;
        &:hover {
            background: #fff;
            color: $main-color;
        }
    }
    p {
        font-weight: normal;
        margin: 0;
        width: calc(100% - 205px);
        text-align: justify;
        padding-right: 30px;
        font-weight: 300;
        a {
            margin-left: 10px;
        }
    }
    @media screen and (max-width: 767px) {
        padding: 30px 20px;
        p {
            font-size: 14px;
            width: 100%;
            padding: 0 0 30px;
        }
        .btn-accept {
            width: 100%;
        }
    }
}

.policy {
    margin: 100px 0;
    &_item {
        margin-bottom: 30px;
    }
    h2 {
        font-size: 30px;
        color: $main-color;
        margin: 10px 0;
        font-weight: 600;
    }
    p {
        margin: 0;
        font-size: 16px;
        text-align: justify;
    }
}