.home-banner {
    position: relative;
    >img {
        width: 100%;
        &.banner_xs {
            display: none;
        }
    }
    &_text {
        position: absolute;
        padding: 35px 55px 35px 200px;
        background: linear-gradient(316deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.00) 100%);
        backdrop-filter: blur(5px);
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        h1 {
            text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
            color: #fff;
            font-size: 40px;
            margin-bottom: 10px;
            font-weight: 700;
            letter-spacing: 0.03em;
        }
        h2 {
            color: $main-color;
            font-size: 18px;
            margin: 0;
            font-weight: 700;
        }
    }
    @media screen and (max-width: 1300px) {
        &_text {
            padding-left: 40px;
            padding-right: 30px;
        }
    }
    @media screen and (max-width: 1100px) {
        &_text {
            h1 {
                font-size: 35px;
            }
            h2 {
                font-size: 16px;
            }
        }
    }
    @media screen and (max-width: 991px) {
        &_text {
            top: 20%;
            transform: none;
            h1 {
                font-size: 32px;
            }
            h2 {
                font-size: 15px;
            }
        }
    }
    @media screen and (max-width: 767px) {
        &_text {
            top: 25%;
            background: linear-gradient(316deg, rgba(0, 0, 0, 0.70) 0%, rgba(0, 0, 0, 0.00) 100%);
            padding-left: 60px;
            h1 {
                font-size: 28px;
            }
            h2 {
                color: $second-color;
            }
        }
    }
    @media screen and (max-width: 700px) {
        &_text {
            top: 30%;
            // padding-left: 30px;
            h1 {
                font-size: 22px;
            }
            h2 {
                font-size: 13px;
            }
        }
    }
    @media screen and (max-width: 575px) {
        &_text {
            padding-left: 30px;
            padding: 20px 30px;
            top: 8%;
            width: calc(100% - 40px);
            left: 20px;
            background: rgba(0,0,0,0.3);
            h1 {
                font-size: 24px;
                line-height: 1.4;
                margin-bottom: 10px;
            }
            h2 {
                color: $main-color;
            }
        }
    }
    @media screen and (max-width: 460px) {
        &_text {
            h1 {
                font-size: 20px;
            }
        }
        >img {
            &.banner_sm {
                display: none !important;
            }
            &.banner_xs {
                display: block;
            }
        }
    }
    @media screen and (max-width: 430px) {
        &_text {
            padding: 20px;
            h1 {
                font-size: 18px;
            }
            h2 {
                font-size: 12px;
            }
        }
    }
    @media screen and (max-width: 350px) {
        &_text {
            padding: 20px 15px;
            h1 {
                font-size: 16px;
            }
        }
    }
}

.home_service {
    padding: 170px 0;
    background-image: url(../img/home_service_style.svg), url(../img/home_service_bg.png);
    background-size: 100%, cover;
    background-position: center bottom, center;
    background-repeat: no-repeat, no-repeat;
    margin-top: -5vw;
    // position: relative;
    >.row {
        margin: 0;
        >div {
            padding: 0;
        }
    }
    &_text {
        padding-left: 5vw;
        // padding-left: calc((100vw - 1320px) / 2 + 20px);
        h2 {
            font-size: 32px;
            font-weight: 600;
            margin-bottom: 50px;
            padding-right: 65px;
        }
        >p {
            line-height: 1.6;
            text-align: justify;
            position: relative;
            padding-right: 65px;
            padding-bottom: 50px;
            margin-bottom: 50px;
            border-bottom: 1px solid $second-color;
            z-index: 1;
            &::after {
                position: absolute;
                content: "";
                width: 27px;
                height: 108px;
                background-size: contain;
                background-image: url(../img/home_service_deco.svg);
                background-position: center;
                background-repeat: no-repeat;
                bottom: -54px;
                right: -1px;
                z-index: -1;
            }
        }
    }
    &_intro {
        max-width: 1000px;
        width: 100%;
        padding: 0 50px;
        margin: 80px auto 0;
        position: relative;
        &::after {
            position: absolute;
            content: "";
            width: 27px;
            height: 108px;
            background-size: contain;
            background-image: url(../img/home_service_deco.svg);
            background-position: center;
            background-repeat: no-repeat;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
        }
        &::before {
            position: absolute;
            content: "";
            width: 27px;
            height: 108px;
            background-size: contain;
            background-image: url(../img/home_service_deco.svg);
            background-position: center;
            background-repeat: no-repeat;
            top: 50%;
            left: 0;
            transform: translateY(-50%) scaleX(-1);
        }
    }
    &_icon {
        padding-right: 65px;
        >.row {
            margin-left: -10px;
            margin-right: -10px;
            >div {
                padding: 0 10px;
                &:first-child {
                    .home_service_icon_item {
                        background-image: url(../img/icon_bg.svg);
                    }
                }
                &:nth-child(2) {
                    .home_service_icon_item {
                        background-image: url(../img/icon_bg2.svg);
                    }
                }
                &:nth-child(3) {
                    .home_service_icon_item {
                        background-image: url(../img/icon_bg3.svg);
                    }
                }
            }
        }
        &_item {
            width: 100%;
            padding-bottom: 115.82%;
            position: relative;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }
        &_content {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            align-content: center;
            justify-content: center;
            img {
                display: block;
                // width: 70px;
                width: 40%;
                margin: 0 auto 10px;
            }
            p {
                // font-size: 14px;
                text-align: center;
                margin: 0;
                color: #fff;
            }
        }
    }
    &_pic {
        width: 100%;
        box-shadow: 0 4px 20px rgba(0,0,0,0.2);
        z-index: 5;
        position: relative;
    }
    @media screen and (max-width: 1399px) {
        // &_text {
        //     padding-left: calc((100vw - 1140px) / 2 + 20px);
        // }
    }
    @media screen and (max-width: 1199px) {
        &_text {
            // padding-left: calc((100vw - 960px) / 2 + 20px);
            h2, >p {
                padding-right: 45px;
            }
        }
        &_icon {
            padding-right: 45px;
        }
    }
    @media screen and (max-width: 991px) {
        padding: 100px 0;
        &_text, &_pic {
            max-width: 720px;
            margin-left: auto;
            margin-right: auto;
        }
        &_text {
            padding: 0 20px;
            width: 100%;
            h2, >p {
                padding-right: 0;
            }
            >p {
                border: 0;
                padding-bottom: 0;
                &::after {
                    display: none;
                }
            }
        }
        &_icon {
            padding-right: 0;
            margin-top: 50px;
            // margin-bottom: 50px;
        }
        &_pic {
            display: block;
            margin-bottom: 20px;
        }
    }
    @media screen and (max-width: 450px) {
        &_icon {
            img {
                // width: 50px;
            }
            p {
                // font-size: 13px;
            }
            >.row {
                justify-content: center;
                >div {
                    width: 50%;
                    &:last-child {
                        margin-top: -9%;
                    }
                }
            }
        }
        &_intro {
            margin-top: 50px;
        }
    }
}

.home_video {
    position: relative;
    &_main {
        width: 70%;
        padding-bottom: calc(70% * 0.53);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        iframe {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
    }
    @media screen and (max-width: 575px) {
        &_main {
            width: 85%;
            padding-bottom: calc(85% * 0.53);
        }
    }
}

.home_product {
    padding: 150px 0 70px;
    background-image: url(../img/home-product_style.svg), url(../img/home-product_style2.svg), url(../img/home-product_bg.png);
    background-size: 100%, 100%, cover;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center top, center bottom, center;
    &_title {
        position: relative;
        margin-bottom: 75px;
        h2 {
            color: #fff;
            font-size: 40px;
            font-weight: 600;
            margin: 0;
        }
    }
    &_tab {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 410px;
        width: 100%;
        border-color: rgba(255,255,255,0.58);
        li {
            width: 50%;
            .nav-link {
                width: 100%;
                color: #fff;
                &#pills-design-tab {
                    font-size: 16px;
                }
                &#pills-sand-tab {
                    font-size: 20px;
                }
                &.active {
                    color: $yellow;
                }
                &::after {
                    background-image: url(../img/home-product_tab.svg);
                }
            }
        }
    }
    &_content {
        .row {
            margin-left: -37px;
            margin-right: -37px;
            >div {
                padding-left: 37px;
                padding-right: 37px;
            }
        }
    }
    &_item {
        display: flex;
        align-items: center;
        margin-bottom: 40px;
        >span {
            width: calc(100% - 8px);
            padding-right: 20px;
            color: #fff;
            text-shadow: 0 1px 6px rgba(0,0,0,0.35);
            transition: $transition;
            .highlight {
                font-size: 13px;
                color: #fff;
                padding: 2px 5px;
                background-color: $yellow;
                margin-right: 5px;
                font-weight: 600;
                transform: translateY(-2px);
                display: inline-block;
            }
        }
        svg {
            width: 8px;
            height: 15px;
            transition: $transition;
            path {
                transition: $transition;
            }
        }
        &:hover {
            span {
                transform: scale(1.1);
            }
            svg {
                transform: translateX(5px);
                path {
                    fill: #fff;
                }
            }
        }
    }
    @media screen and (max-width: 991px) {
        &_title {
            h2 {
                margin-bottom: 30px;
            }
        }
        &_tab {
            position: static;
            margin: 0 auto;
            transform: none;
        }
    }
    @media screen and (max-width: 767px) {
        &_content {
            .row {
                margin-left: 0;
                margin-right: 0;
                >div {
                    padding-left: 0;
                    padding-right: 0;
                }
            }
        }
    }
    @media screen and (max-width: 360px) {
        &_tab {
            li {
                .nav-link {
                    height: 60px;
                    &#pills-design-tab {
                        font-size: 13px;
                    }
                    &#pills-sand-tab {
                        font-size: 18px;
                    }
                }
            }
        }
    }
}

.home_slogan {
    padding: 80px 0;
    .row {
        img {
            width: 100%;
            max-width: 206px;
            margin: 0 auto 30px;
            display: block;
            transition: $transition;
            &:hover {
                transform: scale(1.2);
            }
        }
        p {
            text-align: center;
            margin: 0;
            font-size: 28px;
            font-weight: 600;
            color: #4d4d4d;
        }
    }
    @media screen and (max-width: 991px) {
        .row {
            img {
                max-width: 150px;
            }
            p {
                font-size: 22px;
            }
        }
    }
    @media screen and (max-width: 767px) {
        >.container {
            max-width: inherit;
        }
    }
    @media screen and (max-width: 575px) {
        .row {
            width: fit-content;
            margin: 0 auto;
            display: block;
            >div {
                margin-bottom: 50px;
                display: flex;
                align-items: center;
                width: fit-content;
            }
            img {
                margin: 0;
            }
            p {
                // width: calc(100% - 150px);
                padding-left: 30px;
            }
        }
    }
    @media screen and (max-width: 400px) {
        .row {
            img {
                width: 120px;
            }
            p {
                font-size: 20px;
            }
        }
    }
}